{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">

    <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      BWCA Adventure Tours <i class="fas fa-angle-double-right"></i>
      </a>
    </nav>
   <img src="../images/bannerlogo.png" id="logo">
</div>

<h2 class="tripheader text-center" id="tripreview-header" style="color:#c49e6b;">Trip Review Form</h2>

<div class="container-fluid">
   <form class="myForm center" id="myForm">
        <div class="form-row">
          <div class="col-sm-6 col-md-6 nameinput" id="review-form-fn">
            <label for="validationServer01">First name</label>
            <input type="text" class="form-control is-valid" id="firstName" placeholder="First name" required>
          </div>

          <div class="col-sm-6 col-md-6 nameinput" id="review-form-ln">
            <label for="validationServer02">Last name</label>
            <input type="text" class="form-control is-valid" id="lastName" placeholder="Last name" required>
          </div>
        </div>

          <select class="custom-select col-sm-12 col-md-offset-1 forminput" id="Q1">
            <option selected disabled>How would you rate the quality of the trip?</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>

          <select class="custom-select col-sm-12 col-md-offset-1 forminput" id="Q2">
            <option selected disabled>How would you rate the quality of information provided to you?</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>

          <select class="custom-select col-sm-12 col-md-offset-1 forminput" id="Q3">
            <option selected disabled>How likely are you to recommend this trip to your friends and family?</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>

          <select class="custom-select col-sm-12 col-md-offset-1 forminput" id="Q4">
            <option selected disabled>How likely are you to do this again?</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>

          <select class="custom-select col-sm-12 col-md-offset-1 forminput" id="Q5">
            <option selected disabled>How would you rate the usability of our web interface?</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>

          <div class="form-group col-sm-12 col-md-offset-1 forminput" id="review-text">
            <label for="exampleFormControlTextarea1">Review Comments</label>
            <textarea class="form-control" id="comments" rows="5"></textarea>
          </div>

        <div class="col-md-10 mb-3">
          <button type="submit" class="btn btn-primary" id="submitReview">Submit Review</button>
        </div>
      </form>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Thank you for your review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h4>Thank you for your review!</h4>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">
            <a href="/">Close</a>
          </button>
        </div>
      </div>
    </div>
  </div>

<!--[ footer ] -->
<div id="footer">
    <div class="container">
        <p class="footer-block">Team CodeCamp-Project 2 // Team NoVactions - Meng, Tunji, Tashi + Lindsay  <i class="fas fa-child"></i><i class="fas fa-child"></i><i class="fas fa-child"></i><i class="fas fa-child"></i></p>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> --}}
<!-- Submit user info script -->
<script src="/js/submitInfo.js"></script>