{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <nav class="navbar navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    BWCA Adventure Tours <i class="fas fa-angle-double-right"></i>
    </a>
  </nav>
  <img src="../images/bannerlogo.png" id="logo">
</div>

{{!-- Header --}}
<h2 class="tripheader text-center" id="tripreview-header" style="color:#c49e6b;">Plan a Hiking Tour</h2>

<div class="card container activities">
  <img class="card-img-top" id="cardImage" src="../images/hiking.jpg" alt="Card image cap"><div class="card-title">
    <h3 class="text-center"><strong>Hiking Tours</strong></h3>
  </div>
  <hr>
  <div class="card-body scroll">
    <h5 id="hiking"></h5>
    <p class="card-text"></p>
  </div>
</div>
<br>

<div class="container text-center">
    <a href="/"><button type="button" class="btn" id="closeBtn">Home</button></a>
</div>
<br>

{{!-- Footer --}}
<div id="footer">
  <div class="container">
    <p class="footer-block">Team CodeCamp-Project 2 // Team NoVactions - Meng, Tunji, Tashi + Lindsay</p>
  </div>
</div>

<script src="/js/trips.js"></script>