/* div {
  border: 1px solid red;
} */

.list-group-item {
  line-height: 2.5;
}

.tripDetails {
  border: 1px solid black;
  height: 500px;
}

#forecast {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 26px;
  padding: 0.75em;
  text-align: center;
}

#weather {
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: initial;
}

.jumbotron {
  background-image: url('../images/bannerbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:450px;
}

#logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

#reviewbutton {
margin: 1em 0 0.5em 0;
}

hr {
  margin-top: 0;
}