/* div {
  border: 1px solid red;
} */

.list-group-item {
  line-height: 2.5;
}

.tripDetails {
  border: 1px solid black;
  height: 500px;
}

#forecast {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  font-weight: bold;
  font-size: 26px;
}

#weather {
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: initial;
}